body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

.nested_with_switch {
  padding-left: 0;
}
ol.nested_with_switch li, ol.simple_with_animation li, ol.serialization li, ol.default li {
  cursor: pointer;
}
ol.vertical li {
  display: block;
  margin: 5px;
  padding: 5px;
  border: 1px solid #dedede;
  color: #666;
  background: none repeat scroll 0% 0% #EEE;
}

ol.vertical li > a {
  color: #555;
}
li {
  line-height: 18px;
}
ol {
  list-style-type: none;
}
ol {
  list-style: outside none decimal;
}


ol.vertical li.placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

ol.vertical li.placeholder:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top: -5px;
  left: -5px;
  top: -4px;
  border: 5px solid transparent;
  border-left-color: red;
  border-right: none;
}

#modalAddNewItem {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #FFF;
  overflow: auto;
  min-width: 400px;
  padding: 15px;
  border-right: 1px solid #dedede;
}

.menu-actions {
  position: relative;
  float: left;
  margin-right: 10px;
}